header {
    background-color: rgb(38, 93, 165);
    color: white;
    text-align: center;
    padding: 1px;
}

.container-form {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    margin: 25 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.departemen {
    border-collapse: collapse;
    margin: 75 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 20px;
}

th {
    background-color: rgb(38, 93, 165);
    color: white;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: large;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}

.nama-pabrik {
    width: 250px;
}

.alamat-pabrik {
    width: 250px;
}

.telepon-pabrik {
    width: 250px;
}

.ruang-bahan {
    width: 250px;
}

.lokasi-bahan {
    width: 250px;
}

.bangunan-bahan {
    width: 250px;
}

.departemen-bahan {
    width: 250px;
}

.contact-bahan {
    width: 250px;
}

.telephone-bahan {
    width: 250px;
}

.submit-button {
    background-color: rgb(38, 93, 165);
    border-color: rgb(38, 93, 165);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    border: none;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(38, 93, 165);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.firsts-row {
    width: 100%;
}

.last-row {
    width: 48%;
    display: inline-block;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #265da5;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(38, 93, 165), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(38, 93, 165), rgba(37, 117, 252, 1))
}

.table-data-bahan {
    width: 100%;
    height: 85%;
}

.table-lokasi-bahan {
    width: 100%;
    height: 85%;
}

.table-pabrik-pembuat {
    width: 100%;
    height: 85%;
}

.table-penerimaan-penggunaan {
    width: 100%;
    height: 85%;
}