{% extends "base.html" %}
{% block title %}Departemen{% endblock %}
{% block content %}
<header>
    <h1>Daftar Departemen/Bagian</h1>
</header>

<!-- Form Pencarian -->
<!-- <form action="/departement/departement_list" method="get" class="mb-3">
    <input type="text" name="search" placeholder="Cari Departemen/Bagian" value="{{ search_query }}" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Cari</button>
</form> -->

<div class="container-form mb-3">
    <div class="row">
        <table class="table-departemen-list">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for departement in departement_list["data"] %}
                <tr class="data-row">
                    <td>{{ loop.index + ((departement_list['page'] - 1) * 10) }}</td>

                    <td>
                        <!-- Kolom untuk input data -->
                        <form action="/departement/update_departement/{{ departement.name }}" method="post" style="display:inline;"> 
                            <input type="text" name="new_name" value="{{ departement.name }}" required/>
                        </form>
                    </td>

                    <!-- Kolom untuk tombol Edit dan Delete -->
                    <td>
                        <form action="/departement/update_departement/{{ departement.name }}" method="post" style="display:inline;"> 
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>

                        <form action="/departement/delete_departement/{{ departement.name }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Pagination -->
        <div class="pagination">
            <!-- Tombol Previous -->
            {% if departement_list['page'] > 1 %}
            <a href="/departement/departement_list?page={{ departement_list['page'] - 1 }}" class="btn btn-primary">Previous</a>
            {% endif %}

            <!-- Tombol Next -->
            {% if departement_list['total_pages'] > departement_list['page'] %}
            <a href="/departement/departement_list?page={{ departement_list['page'] + 1 }}" class="btn btn-primary">Next</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}